
@{
    ViewBag.Title = "CrearUsuario";
}

<div align="center">
    <div class="container divForm col-md-offset-4 col-md-5 text-center mediumContainer">
        <div class="row ">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1>
                    <bold>
                        Registrar
                    </bold>
                </h1>
            </div>
            <div class="col-md-10 col-md-offset-1 text-left ">
                <h6>
                    Cédula
                </h6>
                <input type="text" class="form-control col-lg-12 col-md-12 col-xs-12" id="cedula" placeholder="Ingresar cedula">

                <h6>
                    Nombre
                </h6>
                <input type="text" class="form-control col-lg-12 col-md-12 col-xs-12" id="nombre" placeholder="Ingresar nombre">

                <h6>
                    Primer apellido
                </h6>
                <input type="text" class="form-control col-lg-12 col-md-12 col-xs-12" id="apellido1" placeholder="Ingresar apellido">

                <h6>
                    Segundo apellido
                </h6>
                <input type="text" class="form-control col-lg-12 col-md-12 col-xs-12" id="apellido2" placeholder="Ingresar apellido">

                <h6>
                    Correo
                </h6>
                <input type="email" class="form-control col-lg-12 col-md-12 col-xs-12" id="correo" placeholder="Ingresar correo">

                <h6>
                    Contraseña
                </h6>
                <input type="password" class="form-control col-lg-12 col-md-12 col-xs-12" id="contrasena" placeholder="Contraseña">
                <br>

                <h6>
                    Repetir Contraseña
                </h6>
                <input type="password" class="form-control col-lg-12 col-md-12 col-xs-12" id="repetir_contrasena" name="repetir_contrasena" placeholder="Repetir Contraseña">
                <br>
                <h6>
                    Pregunta seguridad
                </h6>
                <input type="text" class="form-control col-lg-12 col-md-12 col-xs-12" id="preguntaseguridad" placeholder="Ingresar pregunta">

                <h6>
                    Respuesta seguridad
                </h6>
                <input type="text" class="form-control col-lg-12 col-md-12 col-xs-12" id="respuestaseguridad" placeholder="Ingresar respuesta">

                <button type="submit" id="loginButton" name="loginButton" value="loginButton"
                        class="btn btn-primary btn-xl col-lg-12 col-md-12 col-xs-12" style="margin-bottom:100px;">
                    Ingresar
                </button>
            </div>
        </div>
    </div>
</div>
<script>

    // Evento que envía una petición Ajax al servidor
    $('#loginButton').click(function (e) {

        var usuario = {
            Cedula: $('#cedula').val().trim(),
            Nombre: $('#nombre').val(),
            PrimerApellido: $('#apellido1').val(),
            SegundoApellido: $('#apellido2').val(),
            Correo: $('#correo').val(),
            Contrasena: $('#contrasena').val(),
            PreguntaSeguridad: $('#preguntaseguridad').val(),
            RespuestaSeguridad: $('#respuestaseguridad').val()
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("RegistrarUsuario", "Seguridad")',
        processData: false,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: JSON.stringify(usuario),
        success: function (response) {
            if (response.Success == true) {
                alert('Usuario creado correctamente!!');
            }else {
                alert('Ha ocurrido un problema, intentalo mas tarde!!');
            }
        },
        error: function (xhr, textStatus, errorThrown) {
            alert('Error!!');
            guardarError(xhr.responseText);
        }
    });
});

</script>

