
@{
    ViewBag.Title = "Index";

    HMandiola2.Classes.General general = new HMandiola2.Classes.General();

}
<div id="here_table"></div>
<div>
    <button id="buttonNuevo" name="buttonNuevo" type="button" class="btn btn-primary">Nueva Actividad</button>
</div>
<script>

    $('#buttonNuevo').click(function (e) {
           location.href = "@Url.Action("ActividadPage", "Actividad")";
    });

         $.ajax({
            type: "GET",
            url: '@Url.Action("devuelveActividades", "Actividad")',
            processData: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                if (response.Success == true) {

                    var content = "<table class='table'>";
                    content += "<thead class='thead-dark'>";
                    content += "<tr>";
                    content += "<th>Codigo</th>";
                    content += "<th>Nombre</th>";
                    content += "<th>Descripcion</th>";
                    content += "<th></th>";
                    content += "<th></th>";

                    content += "</tr>";
                        content += "</thead>";
                        content += "<tbody>";

                        for (var x = 0; x < response.Data.length; x++) {
                            content += '<tr>';
                            content += '<td>' + response.Data[x].ID_Actividad + '</td>';
                            content += '<td>' + response.Data[x].Nombre + '</td>';
                            content += '<td>' + response.Data[x].Descripcion + '</td>';
                            content += '<td><a href="/Actividad/ActividadPage?actividad_id=' + response.Data[x].ID_Actividad + '">Editar</a></td>';
                            content += '<td><a href="/Actividad/Borrar?actividad_id=' + response.Data[x].ID_Actividad + '">Eliminar</a></td>';
                            content += '</tr>';
                        }
                        content += "</tbody>";
                        content += "</table>"

                    $('#here_table').append(content);

                } else {
                    alert('Ha ocurrido un problema, intentalo mas tarde!!');
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Error!!');
            }
    });



</script>

